[Unit]
Description=CSYE 6225 WebApp
ConditionPathExists=/opt/csye6225/webapp/.env
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
EnvironmentFile=/opt/csye6225/webapp/.env
ExecStart=/usr/bin/node /opt/csye6225/webapp/server.js
WorkingDirectory=/opt/csye6225/webapp
SuccessExitStatus=143
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target
